.uyarid {
    position: absolute;
    text-align: center;
    display: none;
    width: 90%;
    left: 5%;
    top: calc(50% - 35px);
}

@media only screen and (max-width:319px) {

    .area {
        display: none !important;
    }

    .uyarid {
        display: block;
    }
}

@media only screen and (max-width:480px) {

    .top-bar {
        padding: 0 2rem;
    }

    .section-right {
        margin-left: 0;
        width: 100% !important;
    }

    .side-menu {
        width: 100%;
        height: 70px;
        overflow: hidden;
        padding: 1rem;
        padding-top: 0;
        padding-right: 0;
        position: fixed;
        top: calc(100% - 70px);
        left: 0;
        border-top: 3px solid #edeef2;
        border-right: none;
        z-index: 99999;
    }

    .side-menu .brand {
        display: none;
    }

    .side-menu .menu-show {
        display: none;
    }

    .side-menu .menu {
        margin-top: 0;
    }

    .side-menu li a .link {
        display: none;
    }

    .side-menu li.active {
        border-right: none;
    }

    .side-menu .res {
        display: flex;
        justify-content: space-around;
    }

    .side-menu li .icon {
        font-size: 1.5rem;
    }

    .container.grp {
        margin-bottom: 60px;
    }

    .graphic-info ul {
        flex-direction: column;
        justify-content: space-between;
    }

    .graphic-info {
        width: 60%;
    }

    .area .muhasebe .container {
        width: 90%;
    }

    .area .ayarlar .container {
        width: 90%;
    }

    .area .muhasebe .content {
        margin-bottom: 6rem;
    }

    .area .ayarlar .content {
        margin-bottom: 6rem;
    }

    .area .content.yeni-musteri {
        margin-bottom: 6rem;
    }

    .area .content.musteriler {
        margin-bottom: 6rem;
    }

    .side-menu li:hover {
        border-right: none;
    }

    .stats .card .counter {
        font-size: 2rem;
    }

    .ycari td {
        display: block;
    }

    .ycari th {
        display: none;
    }

    .ycari tbody > :last-child > :last-child {
        margin: 0 auto;
        border: none;
    }

    .tasmayan-k {
        max-width: 95px;
    }
}

@media only screen and (min-width:481px) and (max-width:767px) {

    .graphic-info ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .graphic-info {
        width: 100%;
    }

    .area .muhasebe .container {
        width: 80%;
    }

    .area .ayarlar .container {
        width: 80%;
    }

    .tasmayan-k {
        max-width: 160px;
    }
}


@media only screen and (max-width:648px) {

    .section-right[class*="show"] {
        width: calc(100% - 65px) !important;
    }
}

@media only screen and (max-width:767px) {

    .area.login .login-area {
        width: 80%;
    }

    .breadcrumb-area {
        display: none;
    }

    .notice-area {
        display: none !important;
    }

    .top-bar {
        flex-direction: column;
        height: auto;
    }

    .content.alert.buy {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .stats {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container.grp {
        flex-direction: column;
    }





    .graphic-info ul li {
        width: auto;
    }

        .graphic-info ul li span {
            width: auto;
        }

    .container.multi-row {
        flex-direction: column;
        height: auto !important;
    }

    .multi-row .gecmis {
        padding-left: 0;
    }

    .multi-row .az {
        top: 112px;
    }

    .ozet h5 {
        top: 195px;
    }

    .yerlestir {
        justify-content: center;
    }

    .confirm-hide-area {
        width: 90%;
    }

    .confirm-area {
        width: 90%;
    }

    .row.musteri {
        flex-direction: column;
    }

    .content.musteriBilgileri {
        width: 100%;
        padding-right: 2rem;
    }

    .content.musteriIslemleri {
        width: 100% !important;
        padding-left: 2rem;
    }

    .content.musteriIslemleri .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content.musteriler .table-header {
        top: 1rem;
    }

    

}

@media only screen and (min-width:481px) {

    .area .muhasebe .content {
        margin-bottom: 2.5rem;
    }

    .area .ayarlar .content {
        margin-bottom: 2.5rem;
    }

    .area .muhasebe .content {
        margin-bottom: 2.5rem;
    }

    .area .ayarlar .content {
        margin-bottom: 2.5rem;
    }

    .area .content.yeni-musteri {
        margin-bottom: 2.5rem;
    }

    .area .content.musteriler {
        margin-bottom: 2.5rem;
    }

}

    @media only screen and (max-width:991px) {

        .col-xl-3 {
            flex: 0 0 auto;
            width: 100%;
            margin-bottom: 12px;
        }

        .gutter {
            margin-bottom: 12px;
        }

        .content.alert.buy .container {
            flex-direction: column;
        }

            .content.alert.buy .container .text {
                text-align: center;
                margin-bottom: 12px;
            }

        .content.alert.buy {
            margin-top: 12px;
        }

        .container.multi-row {
            justify-content: space-around;
        }

        .multi-row .toplam {
            border-right: none;
        }

        .area .muhasebe .content {
            height: auto;
        }

        .area .ayarlar .content {
            height: auto;
        }

        .muhasebe .content .col-lg-4 {
            margin-bottom: 20px;
        }

        .ayarlar .content .col-lg-4 {
            margin-bottom: 20px;
        }

        .content .musteriBilgileri-header .buttons {
            flex-direction: column;
            align-items: center;
        }

            .content .musteriBilgileri-header .buttons .mr-5 {
                margin-right: 0;
                margin-bottom: 5px;
            }

        .area .content.yeni-musteri .row.contact-person {
            overflow-x: auto;
        }

         
        
    }




    @media only screen and (min-width:992px) {


        .gutter {
            width: calc(58.33333333% - 12px);
            margin-right: 12px;
        }
    }

    @media only screen and (min-width:992px) and (max-width:1600px) {

        .col-xl-3 {
            flex: 0 0 auto;
            width: 50%;
            margin-bottom: 12px;
        }
    }

@media only screen and (max-width:1151px) {
    .content .musteriBilgileri-header {
        flex-direction: column;
        align-items: center;
    }
}