﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="dataTable.Site1" %>

<!DOCTYPE html>

<html lang="tr">
<head runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kolay Ön Muhasebe Programı</title>

    <%-- Sweetalert --%>
    <script src="/assets/theme/alert.js"></script>
    <script src="/assets/swalert/sweetalert.js"></script>
    <%--<link rel="stylesheet" href="/assets/swalert/sweetalert.css" />--%>
    <script src="/assets/theme/sweetalert.min.js"></script>
    <%-- Sweetalert --%>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
    <!-- Bootstrap -->

    <!-- Theme -->
    <link rel="stylesheet" href="/assets/theme/style.css">
    <link rel="stylesheet" href="/assets/theme/responsive.css">
    <script src="/assets/theme/jquery-3.6.0.min.js"></script>
    <!-- Theme -->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/assets/icons/all.min.css">
    <script src="/assets/icons/all.min.js"></script>
    <!-- FontAwesome -->

    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Chart -->

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="/assets/datatables/datatables.css">
    <script type="text/javascript" charset="utf8" src="/assets/datatables/datatables.js"></script>
    <!-- Datatables -->

    <!--select2-->
    <link href="/assets/theme/select2/select2.min.css" rel="stylesheet" />
    <script src="/assets/theme/select2/select2.min.js"></script>

</head>
<body>
    <%--<div id="prealoader"></div>--%>
    <form id="form1" runat="server">
        <span class="uyarid">Daha verimli bir kullanıcı deneyimi sunabilmemiz için ne yazık ki bu ekran çözünürlüğünü destekleyemiyoruz.</span>
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <div class="area">
            <div class="overlay confirm"></div>
            <div class="section-left">
                <div class="side-menu">
                    <div class="menu-show">
                        <span><i class="fas fa-chevron-right"></i><i style="margin-left: -5px;" class="fas fa-chevron-right"></i></span>
                    </div>
                    <div class="brand">
                        <img src="/assets/theme/photos/brand.png" alt="logo">
                    </div>
                    <div class="menu">
                        <ul class="res">
                            <li id="mnGuncelDurum"><a href="/anasayfa"><span class="icon"><i class="fas fa-home"></i></span><span class="link">Genel Bakış</span></a></li>
                            <li id="mnCariler" runat="server"><a href="/cariler"><span class="icon"><i class="fas fa-user-friends"></i></span><span class="link">Cariler</span></a></li>
                            <li id="mnStoklar"><a href="/stoklar"><span class="icon"><i class="fas fa-box-open"></i></span><span class="link">Stoklar</span></a></li>
                            <li id="mnMuhasebe"><a href="/muhasebe"><span class="icon"><i class="fas fa-chart-line"></i></span><span class="link">Muhasebe</span></a></li>
                            <li id="mnAyarlar"><a href="/ayarlar"><span class="icon"><i class="fas fa-cog"></i></span><span class="link">Ayarlar</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-right">
                <div class="top-bar">
                    <asp:ContentPlaceHolder ID="cphSiteMap" runat="server">
                    </asp:ContentPlaceHolder>

                    <div class="notice-area">
                        <div class="icon">
                            <span><i class="far fa-bell"></i></span>
                        </div>
                        <asp:UpdatePanel ID="UpdatePanel2" UpdateMode="Conditional" runat="server">
                            <ContentTemplate>
                                <div class="notice-dot" id="bildirimNoktasi" runat="server"></div>
                                <div class="notice-hide-area">
                                    <ul>
                                        <li>
                                            <asp:Label ID="Label1" runat="server" Font-Size="Large" Font-Bold="true" Text="Bildirimler"></asp:Label></li>
                                        <li id="bosSatir" runat="server">Henüz bildirim yok</li>
                                    </ul>
                                </div>
                            </ContentTemplate>
                        </asp:UpdatePanel>
                    </div>
                    <div class="user-area">
                        <div class="user-pp">
                            <a href="#">
                                <asp:Image ID="imgLogo" runat="server" /></a>
                        </div>
                        <div class="user-name">
                            <span>
                                <asp:Label ID="lblFirmaAdi" runat="server" Text="Deneme"></asp:Label></span>
                            <small>
                                <asp:Label ID="lblFirmaPlan" runat="server" Text="Demo"></asp:Label>
                                -
                                    <asp:Label ID="lblKalanGun" runat="server" Text="10 Gün"></asp:Label></small>

                        </div>
                        <div class="open-panel">
                            <asp:UpdatePanel ID="UpdatePanel4" UpdateMode="Conditional" runat="server">
                                <ContentTemplate>
                                    <span title="Şirket değiştir" style="font-size: 20px">
                                        <asp:LinkButton ID="lbDegistir" runat="server"><i class="fas fa-sync-alt"></i></asp:LinkButton>
                                    </span>
                                    &nbsp
                                    <span title="Güvenli çıkış">
                                        <asp:LinkButton ID="lbCikis" runat="server" ><i class="fas fa-sign-out-alt"></i></asp:LinkButton></span>
                                </ContentTemplate>
                            </asp:UpdatePanel>
                        </div>
                    </div>
                </div>

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>

        </div>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {

                $(window).load(function () {
                    $('#prealoader').fadeOut('slow', function () { $(this).remove(); });
                });

            });
        </script>

        <%--Menü--%>
        <script>
            $(document).ready(function () {
                $(".side-menu .menu-show").click(function () {
                    $(".side-menu").toggleClass("show");
                    $(".menu-show").toggleClass("show");
                    $(".section-right").toggleClass("show");
                });

                $(".notice-area .icon").click(function () {
                    $(".notice-hide-area").toggleClass("show");
                    $(".notice-area .icon").toggleClass("show");
                });

                $('*').click(function (e) {
                    if (!$(e.target).is('.notice-hide-area') && !$(e.target).is('.notice-area *')) {
                        $(".notice-hide-area").removeClass("show");
                        $(".notice-area .icon").removeClass("show");
                    }
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                window.history.replaceState('', '', window.location.href)
            });
        </script>

        <%--Sadece sayı girme scripti--%>
        <script type="text/javascript">
            function SayiGirme(degisken) {
                degisken = (degisken) ? degisken : window.event;
                var charCode = (degisken.which) ? degisken.which : degisken.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    if (charCode == 44) {
                        {
                            return true;
                        }
                    }
                    return false;
                }
                return true;
            }
        </script>
        <script>
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
        </script>

    </form>
</body>
</html>
